#up{
    background-color: greenyellow;
    float: left;
    width: 25%;
    height: 25%;

    
}

#up2{
    background-color: rgb(72, 121, 0);
    width: 50%;
    height: 25%;
    float: left;
    
}

#up3{
    background-color: rgb(3, 70, 3);
    width: 25%;
    height: 25%;
    float: left;
}

#mid{
    background-color: grey;
    width: 25%;
    height: 50%;
    float: left;
}

#dw{
    background-color: black;
    width: 100%;
    height: 25%;
    float: left;
}

body,html{
width: 100%;
height: 100%;
}