#tyt{
    text-align: center;
    font-size: 48px;

}

#lewy{
    float: left;
            width: 800px;
            height: 600px;
            margin: 65px;
            margin-top: 10px;;
            background-size: cover;
            background-position: fixed;
            
}


#prawy{

    float: left;
    width: 800px;
    height: 600px;
    margin: 65px;
    margin-top: 10px;;
    background-size: cover;
    background-position: fixed;
    
}

textarea{
    background-image: url('chms.jpg');
    color:rgb(255, 255, 255); 
    resize: none;
    overflow: hidden;
    border: solid 5px white;
    border-radius: 5%;
    font-weight: 700;
    font-size: 15px;
    text-shadow: 0.1em 0.1em 0.2em black
}